


body{
  background-color: #e5e4e2;
  color: #1e2519;
}

/* Home and History buttons */
.main-menu-buttons{
  background: linear-gradient(99deg, #f87010, #c8f2e7);
  border-radius: 4px;
  box-sizing: border-box;
  color: #1e2519;
  display: inline-block;
  height: 35px;
  font-size: 1.25em;
  font-weight: 525;
  width: 4.5em;
}

h2 {
  font-size: 2em;
  margin: 10px 0 -10px 0;
}

h3{
    font-size: 1.5em;
}

#time-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

#timer{
  padding-left: 2em;
}

#stopwatch {
  padding-left: 2em;
  margin-left: 10%;
}

#timer input, #timer span {
  height: 1.5em;
  width: 1.5em;
  font-size: 2em;
  text-align: center;
  margin: 0 -8px;
}

#start-btn {
  margin-left: 16px;
}

#start-stopwatch-btn{
  margin-left: 8px;
}

#timer-items-container, #stopwatch-items-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /* if they have the same height, they align better.*/
  height: 60px;
}

#stopwatch p{
  font-size: 2em;
  text-align: center;
}

.page-buttons{
  background: linear-gradient(99deg, #f87010, #c8f2e7);
  border-radius: 4px;
  box-sizing: border-box;
  color: #1e2519;
  font-size: 1.1em;
  height: 28px;
  margin: 0 4px;
}

.save-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  height: 325px;
}

#on-stop-stopwatch, #on-finish-timer{
    padding-left: 1em;
}

#ticker{
  font-size: 2em;
  padding-left: 1em;
  margin: -2px 0 -6px 0;
}

.t-d-container{
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.title-container, .description-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.description-container{
  margin-left: 8px;
  width: 50%;
}

.save-form label {
  font-size: 1.5em;
}

.save-form input, .save-form textarea{
  font-size: 1.25em;
}

.save-form textarea{
  width: 90%;
  height: 15em;
}

#submit-timer, #submit-stopwatch{
  margin-top: 16px;
}

/* History page */

#db-table-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  column-gap: 10px;
  row-gap: 1em;


  background-color: yellow;
}

.date-col{
  grid-column: 1;
  grid-row: 1;
  background-color: green;
}

.title-col{
  grid-column: 2;
  grid-row: 1;
  background-color: red;
}

.duration-col{
  grid-column: 3;
  grid-row: 1;
  background-color: blue;
}
.description-col{
  grid-column: 4;
  grid-row: 1;
  background-color: orange;
}

#db-table-container p {
  font-size: 1.25em;
}
